*.a
*.so
*.o
CMakeCache.txt
Makefile
cmake_install.cmake
CTestTestfile.cmake
CMakeFiles/
!core/external/lib/**/*.so
/_deps/
ruby_vm_test.log
/lib/
/bin/
/.gradle/
/build/
/build-test/
/examples/*.jar
/examples/*.class
/.claude/
# By default the assets files are loaded in./ruby
/ruby/
/META-INF/